<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <div>
    <h1>Admin</h1>
    <ul>
        <li><a href="/admin">Admin</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/index">Index</a></li>
    </ul>
  </div>
  <div>
    <h3>Sign Up</h3>
    <form action="api/register" method="post">
      <input type="text" name="username">
      <input type="password" name="password">
      <label for="isAdmin">isAdmin</label>
      <input type="checkbox" name="isAdmin" id="isAdmin">
      <input type="submit">

    </form>
    <h3>Sign In</h3>
    <form action="api/login" method="post">
      <input type="text" name="username">
      <input type="password" name="password">
      <input type="submit">
    </form>
    <form action="api/test">
      <label for="test">Test</label>
      <input type="submit" name="test">
    </form>
  </div>
</body>

</html>