<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <div id="navbar">
    <h1>Admin</h1>
    <ul>
        <li><a href="/admin">Admin</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/">Index</a></li>
    </ul>
  </div>
  <div id="todo-list">
    <h2>To Do:</h2>
    <ul>
      <li>Pull down all orders</li>
      <li>Pull down unfllled orders only</li>
    </ul>
  </div>
  <div id="sign-up-in">
    <h3>Sign Up</h3>
    <form action="api/register" method="post">
      <input type="text" name="username">
      <input type="password" name="password">
      <label for="isAdmin">isAdmin</label>
      <input type="checkbox" name="isAdmin" id="isAdmin">
      <input type="submit">

    </form>
    <h3>Sign In</h3>
    <form action="api/login" method="post">
      <input type="text" name="username">
      <input type="password" name="password">
      <input type="submit">
    </form>
    <form action="api/test">
      <label for="test">Test</label>
      <input type="submit" name="test">
    </form>
  </div>
  <div id="orders-view">
    <h3>Orders</h3>
    <div id="orders-list">
        
    </div>
  </div>
  <script src=scripts/admin.js></script>

</body>


</html>