.header-row {
  border: 1px solid red;
}

.table-main {
  border: 1px solid salmon;
}

.table-head {
  border: 1px solid slateblue;
}

.table-row {
  border: 1px solid lime;
}

.table-data-cell {
  border: 1px dashed darkcyan;
}

.sub-table {
  border: 1px dashed darkgoldenrod;
}

.sub-table-header-row {
  border: 1px solid aquamarine;
}

.sub-table-data-row {
  border: 1px solid red;
}

.sub-table-td {
  border: 1px solid greenyellow;
}