body {
  margin: 0;
}

html, {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: #86C232
}

p {
  font-family: 'Titillium Web', sans-serif;
  color: whitesmoke;
}

h3,
h4,
h5 {
  color: white;
}

#pinContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.panel {
  height: 100%;
  width: 100%;
  position: absolute;
}

a:hover {
  text-decoration: none;
  color: #86C232;
}

.spacer {
  height: 70px;
}

img {
  width: 10%;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}


.heading {

  padding: 15px;
  text-align: right;
  font-family: 'Oswald', sans-serif;
  font-weight: 900;
  line-height: 15px;
}


.sticky {
  font-size: 12px;
  padding: 5px;
  position: sticky;
  bottom: 0;
  left: 0;
  margin-left: 5px;
}

.aboutMe {
  padding: 5px;
}

.skills {
  align-items: center;
  display: flex;
  padding: 5px;
  justify-content: space-between;
flex-wrap: nowrap;
}

.slideshow {
  border: 2 px solid red;
}

.experience {

  padding: 5px;
}


.projects {

  padding: 5px;
}


.footer {
  padding: 5px;
  justify-content: end;
  text-align: center;
}